/* App styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}




.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.cart {

  padding: 20px;

}

.cart-title {
  font-size: 24px;
  margin: 0;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}



.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
}

/* App styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}



.left-section {
  flex: 7;
  position: relative;
  top: 0;
}

