/* App styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.container-fluid {
  padding: 0 !important;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  margin-bottom: 2rem;

}

.section-header p {
  margin-bottom: 3rem;
  font-size: 40px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.section-header p span {
  color: #df2020;
}



.cart {

  padding: 20px;

}

.cart-title {
  font-size: 24px;
  margin: 0;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}



.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
}

/* App styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}



.left-section {
  flex: 7;
  position: relative;
  top: 0;
}

.text-center{
  text-align: center;
}
.Food-pop{
margin-top: 4rem;
}
